{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
    <div class="row">
        <div class="col-sm-4">
            {% block info %}
                <h1>{{ members.name }}</h1>
            {% endblock %}
        </div>
    </div>
</article>
{% endblock %}
