{% extends '_layouts/base.njk' %}

{% set members = queen.members[0] %}

{% set discography = queen.discography[0] %}

{% block page_title %}QUEEN{% endblock %}

{% block page_description %}Official site.{% endblock %}

{% block content %}
<div class="container">
  <h2>Band Members</h2>
    <div class="row">
      <div class="card" style="width: 60rem;">
        {% for members in queen.members %}
        <img src="{{ members.image}}" class="card-img-left" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ members.name }}</h5>
          <p class="card-text">{{ members.instruments}}.</p>
          <a href="{{ members.slug }}.html" class="btn btn-primary">Read more</a>
        </div>
        {% endfor %}
      </div>
    </div>
  <h2>Discography</h2>
    <ul class="list-unstyled">
      <li class="media">
        {% for discography in queen.discography %}
        <img src="../img/{{ discography.image }}" class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">{{ discography.title }}</h5>
          {{ discography.year }}.
        </div>
        {% endfor %}
      </li>
    </ul>
</div>
{% endblock %}