// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Google font
@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield&display=swap');

// Import partials
@import "nav";
@import "jumbotron";

h1, h2 {
    font-family: 'Mrs Saint Delafield', cursive;
    padding-bottom: 10px;
}

h1 {
    font-size: 80px;
    padding-top: 20px
}

h2 {
    font-size: 60px;
    padding-top: 50px;
}

h3, h4, h5, h6, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5 {
    padding-top: 10px;
}

.col {
    padding-bottom: 20px;
}

.card {
    width: 250px;
    margin: 10px
}

.btn {
    background-color: grey;
    border-color: grey;
}

.btn:hover {
    background-color: black;
    border-color: black;
}